.htmlSection {
    max-height: calc(100vh - 50px - 60vh);
}
.previewSection, .jsonSection {
    max-height: 30vh;
}
.previewSection {
    overflow-y: scroll;
}
.section {
    padding: 1rem;
}

.htmlSection {
    .editor {
        height: calc(100vh - 50px - 60vh - 2rem - 24px);
        overflow: auto;
    }
}

.jsonSection {
    .editor {
        height: calc(100vh - 50px - 70vh - 2rem - 24px);
        overflow: auto;
    }
}

.editor {
    border: 1px solid #999;
    textarea:focus-visible {
        outline: none;
    }
}

.htmlSection .editor {
    :global {
        .invalid-class, .invalid-tag, .invalid-style-attr {
            text-decoration: line-through;
            background-color: #fce100;
        }
    }
}
