.jsonEditor, .htmlEditor {
    padding: 1rem;
}

.htmlEditor {
    :global {
        .invalid-class {
            text-decoration: line-through;
            background-color: #fce100;
        }
    }
}