.navigation {
    min-width: 239px;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    @media (max-width: 800px) {
      min-width: 0;  
      max-width: 0;
      border: 0;
    }
    .link {
        text-decoration-line: none;
    }
  }
  :global(.ms-Nav) {
    width: 100%;
  }
  
  .nav {
    @media (max-width: 800px) {
      display: none;
    }
  }
  
  .menu {
    padding: 0;
    border: 0;
    min-width: 50px;
    height: 50px;
    top: -50px;
    @media (min-width: 799px) {
      display: none;
    }
  }
  :global(.ms-Button-menuIcon) {
    display: none!important;
  }